@charset "UTF-8";
/*!
* =========================================================
* Career DOOSAN
* =========================================================
* Start : 2023.04.15
* Modify : ---
*/

/* ============================================================================================ */
/* ================================== NEW career 20230415  시작================================== */
/* ============================================================================================ */


.grow-box {
	margin-bottom: 250px;
}

.grow_top_box {width: 100%;
	padding: 55px 15%;
	background: #f7f7f7;
	line-height: 36px;
	text-align: center;
	font-size: 22px;
	color: #646464;
	margin-top: 100px;
	margin-bottom: 80px;
}


.grow_cont1{position:relative;}
.grow_cont1 ul{font-size:0;}

.grow_cont1 ul > li {
	display: inline-block;
	vertical-align: top;
	margin-right: 100px;
	width: calc(50% - 50px);
	margin-bottom: 80px;
}
.grow_cont1 ul>li:last-child,.grow_cont1 ul>li:nth-last-child(2){margin-bottom:0;}
.grow_cont1 ul>li:nth-child(2n){margin-right:0;}
.grow_cont1 ul>li img{width:100%;}
.grow_cont1 ul>li .title{font-size:24px; line-height:36px; margin:28px 0 10px;font-weight: 800;}
.grow_cont1 ul>li .desc{font-size:17px; line-height:32px; color:#444;padding-right: 15px}
.grow_cont1 ul>li .gu_btn_sm_box{text-align:left; margin-top:32px;}

.grow_cont1 .top_title h1 {font-size:35px; font-weight: 800; margin-bottom: 35px;}
.grow_cont1 .top_title h2 {font-size:20px; line-height: 36px; margin-bottom: 90px;}





.grow_cont2{position:relative;}
.grow_cont2 ul{font-size:0;}

.grow_cont2 ul > li {
	display: inline-block;
	vertical-align: top;
	margin-right: 50px;
	width: calc(33% - 33px);
	margin-bottom: 80px;
}
.grow_cont2 ul>li:last-child,.grow_cont2 ul>li:nth-last-child(3){margin-bottom:0;}
.grow_cont2 ul>li:nth-child(3n){margin-right:0;}
.grow_cont2 ul>li img{width:100%;}
.grow_cont2 ul>li .title{font-size:24px; line-height:36px; margin:0px 0 10px;font-weight: 800;}
.grow_cont2 ul>li .desc{font-size:17px; line-height:32px; color:#444;padding-right: 15px}
.grow_cont2 ul>li .gu_btn_sm_box{text-align:left; margin-top:32px;}

.grow_cont2 .top_title h1 {font-size:35px; font-weight: 800; margin-bottom: 35px;}
.grow_cont2 .top_title h2 {font-size:20px; line-height: 36px; margin-bottom: 90px;}





.grow-group03 {
	margin-top: 25px;
}







.pop_line .modal-header {
	padding: 25px 30px 15px!important;
	border-bottom-color: #ddd!important;
	border-radius: 0;
	background-color: #fff;
	/*border-bottom: 1px solid #ddd;*/}

.growpop_section {
	padding: 20px 10px 60px 10px;
}
.growpop_section:last-child {
	padding: 20px 10px 20px 10px;
}
.growpop_content h2 {font-size:21px;padding-bottom: 15px; font-weight: 800;}

.growpop_content ul li {padding: 15px 0 35px 0;}

.growpop_content .cont-tit {font-size:20px; font-weight: 800;padding: 5px 0 10px 0;}
.growpop_content .cont-txt {font-size:18px; line-height:32px;}

.cont-box .table_cont {
	position: relative;
	width: 100%;
	border-top: 2px solid #1478d8;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	margin-top: 8px;
}
.cont-box .table_cont.table_type1 {
	border-top: 2px solid #38b800;
}
.cont-box .table_cont th {
	border-bottom: 1px solid #e6e6e6;
	padding: 15px 15px;
	font-size: 18px;
}
.cont-box .table_cont td {
	border-right: 1px solid #e6e6e6;
	padding: 16px 15px;
}
.cont-box .table_cont td:nth-child(2) {
	border-right: 0 solid #e6e6e6;
	text-align: left;
	padding-left: 30px;
	line-height: 26px;
}
.cont-box .table_cont.table_type1 td:nth-child(2) {
	border-right: 1px solid #e6e6e6;
	text-align: center;
	padding-left: 15px;
	line-height: 26px;
}
.cont-box .table_cont.table_type1 td:nth-child(3) {
	border-right: 0 solid #e6e6e6;
	text-align: left;
	padding-left: 30px;
	line-height: 26px;
}

.growpop_content .cont-memo {
	border: 1px solid #e4e4e4;
	background: #fafafa;
	padding: 12px 20px;
	position: relative;
}
.growpop_content .cont-memo ul li {
	padding: 5px;
	line-height: 20px;
	position: relative;
	display: flex;
}
.growpop_content .cont-memo ul li span {
	padding: 0 5px;
	padding-left: 15px;
	line-height: 24px;
	position: relative;
	font-size:17px;
	color: #666666;
}

.blue-jum {
	position: absolute;
	display: block;
	top: 13px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #1478d8;
}





/*공통버튼*/

.gu_btn_big_box {
	margin: 0 auto;
	text-align: center;
	display: block !important;
}
.gu_btn_big_box.gu_btn_arrow {
	clear: both;
	margin-top: 6px;
	text-align: left;
}

.kr_sd_500 {
	font-family: "SDGothic",sans-serif;
	font-weight: 500;
}
.gu_btn_big_box a {
	display: inline-block;
	min-width: 160px;
	padding: 0 32px;
	height: 64px;
	line-height: 64px;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #000;
	background-color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gu_btn_big_box a span {
	display: inline-block;
	position: relative;
}
.gu_btn_big_box.gu_btn_arrow a span {
	padding-right: 24px;
}




/*버튼 아이콘*/
.gu_btn_arrow a span:before {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.gu_btn_big_box.gu_btn_arrow a span:before {
	width: 10px;
	height: 16px;
	margin-top: -8px;
}

/* s 아이콘 화살표 */
.gu_btn_big_box.gu_btn_arrow a span:before {
	background: url(../img/grow/m_ico_outlink_2dep.png) no-repeat 0 0 / contain;
	filter: invert(1);
	width: 15px;
	height: 15px;
}
/* e 아이콘 화살표 */


/* s 버튼 hover시 아이콘 화살표 */
.gu_btn_big_box.gu_btn_arrow a:hover {
	color: #fff;
	background-color: #1634db;
	border-color: #1364db;
}

.gu_btn_big_box.gu_btn_arrow a:hover span:before {
	background: url(../img/grow/m_ico_outlink_2dep.png) no-repeat 0 0 / contain;
	width: 15px;
	height: 15px;
	filter: invert(0);
}
/* e 버튼 hover시 아이콘 화살표*/


@media (max-width: 1080px) {
	.gu_btn_big_box a {
		min-width: 140px;
		padding: 0 24px;
		height: 56px;
		line-height: 56px;
		font-size: 14px;
	}
	.gu_btn_big_box.gu_btn_arrow a span {
		padding-right: 17px;
	}
}

@media all and (max-width: 766px){
	.gu_btn_big_box a {
		min-width: 100px;
		padding: 0 15px;
		height: 45px;
		line-height: 45px;
		font-size: 14px;
	}
	.gu_btn_big_box.gu_btn_arrow a span {
		padding-right: 17px;
	}
}


.wline > td {
	border-bottom: 1px solid #ddd;
}




/* ================================== Laptop css ================================== */
@media all and (max-width: 1280px){

}

/* ================================== Tablet css ================================== */
@media all and (max-width: 1080px){


	.grow_top_box {
		padding: 24px 10%;
		background: #f7f7f7;
		line-height: 28px;
		text-align: center;
		font-size: 18px;
		color: #646464;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.grow-box {
		margin-bottom: 170px;
	}

	.grow_cont1 ul>li{margin-bottom:51px; margin-right:33px;width:calc(50% - 33px);}
	.grow_cont1 ul>li .title{font-size: 18px;line-height: 28px; margin: 22px 0 10px;}
	.grow_cont1 ul>li .desc{font-size: 14px;line-height: 24px;}

	.grow_cont2 ul>li{margin-bottom:51px; margin-right:33px;width:calc(34% - 33px);}
	.grow_cont2 ul>li:last-child{margin-right:0px;}
	.grow_cont2 ul>li .title{font-size: 18px;line-height: 28px; margin: 0px 0 10px;}
	.grow_cont2 ul>li .desc{font-size: 14px;line-height: 24px;}
}

/* ================================== Mobile css ================================== */
@media all and (max-width: 766px){
	.grow_top_box {
		padding: 24px 10%;
		background: #f7f7f7;
		line-height: 24px;
		text-align: center;
		font-size: 16px;
		color: #646464;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.grow_cont1 .top_title h1 {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 15px
	}
	.grow_cont1 .top_title h2 {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.grow-box {
		margin-bottom: 130px;
	}

	.grow_cont2 .top_title h1 {
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 15px
	}
	.grow_cont2 .top_title h2 {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 30px;
	}



	.grow_cont2 ul>li:nth-last-child(2) {
		margin-bottom: 40px;
		margin-top: 20px;
	}
	.grow_cont2 ul>li:nth-last-child(1) {
		margin-bottom: 40px;
		margin-top: 20px;
	}

	.growpop_content h2 {
		font-size: 18px;
		line-height: 26px;
		padding-bottom: 15px;
		font-weight: 800;
	}
	.growpop_content .cont-tit {
		font-size: 16px;
		font-weight: 800;
		padding: 5px 0 10px 0;
	}

	.cont-box .table_cont th {
		border-bottom: 1px solid #e6e6e6;
		padding: 8px 8px;
		font-size: 16px;
	}
	.cont-box .table_cont td {
		border-right: 1px solid #e6e6e6;
		padding: 16px 15px;
		font-size: 14px;
	}


	.growpop_content .cont-txt {
		font-size: 16px;
		line-height: 24px;
	}
	.growpop_content .cont-memo ul li span {
		padding: 0 5px;
		padding-left: 15px;
		line-height: 18px;
		position: relative;
		font-size: 14px;
		color: #666666;
	}







	.grow_cont1 ul>li{margin-bottom:60px;width:100%; margin-right:0;}
	.grow_cont1 ul>li:nth-last-child(2){margin-bottom:60px;}
	.grow_cont1 ul>li .title{font-size:18px; line-height:26px;}
	.grow_cont1 ul>li .gu_btn_sm_box{margin-top:35px;}

	.grow_cont2 ul>li{margin-bottom:60px;width:100%; margin-right:0;}
	.grow_cont2 ul>li:nth-last-child(2){margin-bottom:60px;}
	.grow_cont2 ul>li .title{font-size:18px; line-height:26px;}
	.grow_cont2 ul>li .gu_btn_sm_box{margin-top:35px;}
}

@media all and (max-width: 323px){
	.career_cont1 ul>li .gu_btn_sm_box a > span{letter-spacing:-0.1px;}
}

/* ============================================================================================ */
/* ================================== NEW career 20230415  끝================================== */
/* ============================================================================================ */